
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
    <!-- //banner-text -->
    <section class="banner_bottom1 py-md-5">
        <div class="container py-4 mt-2">
            <h3 class="heading-agileinfo text-center">About  <span>Us</span></h3>
            <div class="inner_sec_info_wthree_agile mt-md-5 pt-3">
                <div class="row help_full">
                    <div class="col-lg-6 banner_bottom_grid help">
                        <img src="../Content/images/g1.jpg" alt=" " class="img-fluid">
                    </div>
                    <div class="col-lg-6 banner_bottom_left1">
                        <h4>JK Marriage Beauro</h4>
                        <p>
                            Good and Happy Life 
                        </p>
                        <p>
                            Provide Marriage Related Services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

