
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    </div>
    <!-- //banner-text -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Gallery</li>
    </ol>
    <!--Gallery-->
    <div class="ga-top">
        <section class="gallery py-lg-5 editContent">
            <div class="container">
                <div class="title-section pt-5 text-center">

                    <h2 class="heading-agileinfo text-center  mb-4">Our Gallery</h2>
                </div>
            </div>
        </section>
        <div class="gal-content">
            <div class="container py-5">

                <div class="row agile_gallery_grids w3-agile demo">
                    <div class="col-md-4 gal-sec">
                        <div class="gallery-grid1">
                            <a href="#gal1">
                                <img src="../Content/images/g1.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a href="#gal2">
                                <img src="../Content/images/g2.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a href="#gal3">
                                <img src="../Content/images/g3.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 gal-sec">
                        <div class="gallery-grid1">
                            <a href="#gal4">
                                <img src="../Content/images/g4.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a href="#gal5">
                                <img src="images/g5.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a href="#gal6">
                                <img src="../Content/images/g6.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 gal-sec">
                        <div class="gallery-grid1">
                            <a href="#gal7">
                                <img src="../Content/images/g7.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a href="#gal8">
                                <img src="../Content/images/g8.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                        <div class="gallery-grid1">
                            <a href="#gal9">
                                <img src="../Content/images/g9.jpg" alt=" " class="img-fluid" />

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

</center>

