
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    </div>
    <!-- //banner-text -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>
    <!-- /services -->
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h3 class="heading-agileinfo text-center">We Will Plan </h3>
                <div class="row middle-grids mt-md-5 pt-4">
                    <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-bar-chart mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">
                                    Analytics.
                                </h5>
                                <p class="card-text">
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in-w3ls middle-grid-info active text-center">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-paperclip mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Listening</h5>
                                <p class="card-text">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-print mb-2"></span>
                                <h5 class="card-title text-uppercase my-3">Presentation</h5>
                                <p class="card-text">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

